/* Global Styling */
@use './partials/global';

h2, h3, p{
    text-align: center;
} 

/* Header */
.toolbar {
    background-color: global.$primary-colour;
}

/* Header Image */
.header-image {
    @include global.flex-center();
    background: url("../assets/images/coffee-circle.jpg") center/cover no-repeat;
    min-width: 100%;
    max-width: 100%;
    min-height: 35.9375rem;
    max-height: 37.5rem;
    &__container {
        min-width: 17.5rem;
        max-width: 18.75rem;
        min-height: 11.25rem;
        max-height: 12.5rem;
        position: relative;
        background: global.$tertiary-colour;
        &--border {
            @extend .header-image__container;
            @include global.flex-center();
            box-sizing: border-box;
            background: none;
            position: absolute;
            top: -0.9375rem;
            left: -0.9375rem;
            border: 0.3125rem solid global.$secondary-colour;
        }
        &--title {
            text-align: center;
            color: #FFF;
        }
        
    }
}

/* Menu Navigation */
.menu {
    &__items {
        background: global.$tertiary-colour;
        min-width: 100%;
        max-width: 100%;
        min-height: 3.75rem;
        max-height: 5rem;
        text-align: center;
    }
    &__nav-item {
        border-left: 0.25rem solid global.$secondary-colour;
        padding-left: 1.25rem;
        margin: 1.25rem 1.25rem global.$no-margin global.$no-margin;
        &--link {
            font-size: 1.3125rem;
            font-weight: normal;
            color: #FFF;
            text-transform: uppercase;
        }
    }
    
}
ul.menu__nav {
    @include global.flex-center();
    margin: global.$no-margin;
}


/* Menu Items */
#hot-drinks, #pastries {
    background: global.$primary-colour;
}
#cold-drinks {
    background: #F7F7F7;
}
.menu-section {
    @include global.flex-center();
    flex-direction: column;
    padding: 1.25rem;
    &__title {
        padding-bottom: 1.25rem;
    }
    &__item {
        padding-top: 1.25rem;
        &--desc {
            font-size: 1.125rem;
            font-style: italic;
            max-width: 50vw;
        }
        &--price {
            color: global.$secondary-colour;
        }
        
    }
}



